.book-title {
  color: #333333;
  font-size: 120%;
  font-weight: bold;
  line-height: 1.3;
}

.book-author {
  font-size: 12px;
  line-height: 150%;
}

.book-year, .review-date {
  color: grey;
  font-size: smaller;
}

.siteHeader {
    display: flex;
    justify-content: center;
    height: 80px; /* or other desired height */
    overflow: hidden;
}

.siteHeader > img {
    flex: none; /* keep aspect ratio */
}

#login {
    padding: 5px 45px;
    margin-bottom: 5px;
}
