{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <form action="/" method="POST">
        <div class="form-group">
            <input class="form-control" autofocus name="query" type="text" palceholder="Search Books">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    {% if results %}
        <h2>Search results:</h2>
        <ul>
        {% for result in results %}
            <li>
                <a href="{{ url_for('book', book_id=result.id)}}"
                    <span class="book-title">{{ result.title }}</span>
                </a>
                <span class="book-author">by </span><span class="book-author">{{ result.author }}</span>
                <span class="book-year">{{ result.year }}</span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
